@model dynamic
<body>
    <div class="card">
        <div class="card-border">
            <div class="card-border-left"></div>
            <div class="card-border-right"></div>
        </div>
        <div class="card-content">
            <h1>CMS - Course Management System</h1>
            @if (ViewBag.searchKey != null)
            {
                <p style="margin-bottom: 0;"><a class="navigation-link" href="/Home/Home">Home</a>  /  <a class="navigation-link" href="/Course/Index">Courses</a>  /  <a class="navigation-link" href="/Course/Search">Search</a>  /  @ViewBag.searchKey</p>
                <div style="display: flex; justify-content: end; padding: 10px;">
                    <form style="display: flex; flex-direction: column; align-items: flex-start;" action="/Home/SearchCourse" method="post">
                        <label style="font-size: 18px;">Search courses:</label>
                        <input type="text" name="key" size="18" style="height: 2.75rem; border: .5px solid rgba(0,0,0,.5); padding-left: 10px; font-size: 16px;" value="@ViewBag.searchKey" />
                        <input type="submit" value="GO" style="width: 50px; height: 2.75rem; background-color: black; color: white; font-weight: bold;
                             cursor: pointer; margin: 10px 0 0 5px" />
                    </form>
                </div>
            }
            else
            {
                <p style="margin-bottom: 0;"><a class="navigation-link" href="/Home/Home">Home</a>  /  <a class="navigation-link" href="/Course/Index">Courses</a>  /  <a class="navigation-link" href="/Course/Search">Search</a></p>
            }
        </div>
    </div>

    <div style="margin: 0 15px 0 15px; padding: 20px 30px 180px 30px; background-color: white;">
        @if (ViewBag.searchKey == null)
        {
            <div style="background-color: white; display: flex; justify-content: center; padding: 40px 0 40px 0;">
                <form action="/Course/Search" method="post">
                    <label>Search Course: </label>
                    <input type="text" name="key" size="18" style="height: 2.75rem; border: .5px solid rgba(0,0,0,.5); padding-left: 10px; font-size: 16px" value="@ViewBag.searchKey" />
                    <input type="submit" value="GO" style="width: 50px; height: 2.75rem; background-color: black; color: white; font-weight: bold;
                             cursor: pointer; margin: 0 0 0 10px" />
                </form>
            </div>
        }
        else
        {
            if(ViewBag.count == 0)
            {
                <h3>No courses were found with the words '@ViewBag.searchKey'</h3>
            }
            else
            {
                <h3>Search Results: @(ViewBag.count)</h3>
                <div class="container-fluid" style="padding: 15px 0 0 0">
                    <div class="row row-cols-5">
                        @foreach (var item in Model)
                        {
                            <div class="col" style="min-height: 180px; padding: 5px;">
                                <div style="box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1); margin: 0; border: none;">
                                    <div style="width: 100%; height: 120px;">
                                        <a href="@(item.isEnroll != 0?$"/Course/View?cid={@item.ID}":$"/Enroll/Index?id={item.ID}")">
                                            <img src="@Global.GetRandomBackground()" style="width: 100%; height: 100%;" />
                                        </a>
                                    </div>
                                    <div style="text-align: center; width: 100%; height: fit-content; background-color: white; padding: 25px 20px 25px 20px; 
                                                border-bottom: 0.5px solid rgba(0,0,0,0.3); font-weight: 100;">
                                        <a href="@(item.isEnroll != 0?$"/Course/View?cid={@item.ID}":$"/Enroll/Index?id={item.ID}")" style="text-decoration: none; color: #fd637a">@item.Name</a>
                                    </div>
                                    <div style="width: 100%; background-color: #f7f7f7; padding: 20px 25px 20px 20px;">
                                        <ul>
                                            <li>Course Creator: <span style="font-weight: 400; color: #fd637a">@item.Creator.Fullname</span></li>
                                        </ul>
                                    </div>
                                    <div style="width: 100%; padding: 15px;">
                                        Category: <span style="font-weight: 400; color: #fd637a">@item.Category.CategoryName</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</body>
<style>
    body {
        background-color: #f7f7f7;
    }

    .card {
        height: fit-content;
        margin-left: 5%;
        background-color: white;
        margin: 50px 15px 20px 15px;
        position: initial;
    }

    .card-border {
        width: 100%;
        height: 4px;
        display: flex;
    }

    .card-border-left {
        width: 50%;
        background-color: #fd637a;
    }

    .card-border-right {
        width: 50%;
        background-color: black;
    }

    .card-content {
        padding: 10px 15px;
    }

    .navigation-link {
        color: #fd647a;
        text-decoration: none;
    }

        .navigation-link:hover {
            text-decoration: underline;
            color: red;
        }
</style>
